@page "/counter"
@using BlazorApp_ClientPortal.Components
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<br />
<br />

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<br />

<Dialog Title="Blazor_Rajesh">
    <a href="/" style="background-color:coral">Go to Home</a>
</Dialog>

<br />
<br />

<a href="/binding-example" style="background-color:coral">Go to Binding Example</a>
<br />
<br />

<a href="/lifecycle-example" style="background-color:coral">Go to Component Lifecycle Example</a>
<br />
<br />

<a href="/templated-component-example" style="background-color:coral">Go to Templated Component example Example</a>
<br />
<br />



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


}
