@page "/login"
@model BlazorApp_ClientPortal.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form id="account" method="post">
    <div>
        <label asp-for="Email">
            Email:
            <input asp-for="Email" />
        </label>
        <br />
        <label>
            Password:
            <input asp-for="Password" />
        </label>
    </div>
    <button type="submit">Save</button>
</form>

